@import "tailwindcss";
@import "./Animations.css";

@custom-variant dark (&:where(.dark, .dark *));

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(100, 116, 139, 0.5);
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 116, 139, 0.7);
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(100, 116, 139, 0.9);
}
body {
  @apply bg-slate-50 dark:bg-slate-900;
}
